<div class='game-tic-tac-toe' ng-controller='TicTacToeGameCtrl'>
	<h1>{{ game.title }}</h1>
	<div class='board'>
		<div ng-repeat='b in board.squares' 
			class='square' 
			ng-click='board.putMark($index)' ng-class='{"square-win": boardOverlay[$index]}'>{{ b }}</div>
	</div>
	<hr />
	<div class='alert alert-danger' ng-show='exception'> {{ exception }}</div>
	<div class='alert alert-success' ng-hide='!board.winner'>
		<span>{{ board.winner.mark }} has won!</span> 
		<a ng-click='reset()'>Play again?</a>
	</div>
	<style>
		.game-tic-tac-toe {
			margin: 0 auto;
			width: 600px;
		}
		.board {
			width: 600px;
			height: 600px;
			user-select: none;
			-moz-user-select: none;
		}
		.square {
			width: 200px;
			height: 200px;
			float: left;
 			line-height: 200px; 
			text-align: center;
 			font-size: 200px; 
			cursor: hand;
			overflow: hidden;
			outline: 4px solid #aaa;
		}
		
		.square span {
			font-size: 2em;
			color: blue;
		}
		
		.square-win {
			background: green;
			color: #fdfdfd;
		}
	</style>
</div>