<div ng-controller='DiceGameCtrl'>
	<div class='game-container'>
		<h1 class='text-center'>Story Dice</h1>
		<div class='game-board-container'>
			<div class='game-board row-fluid'>
				<div class='game-die' ng-repeat='die in game.board'>{{ die }}</div>
			</div>
		</div>
		<div class='text-center'>
			<button class='btn btn-primary' ng-click='game.rollDie()'>Roll</button>
			<button class='btn' ng-click='reset()'>Reset</button>
			<button class='btn' data-toggle="modal" data-target="#game-settings-modal" ng-click='openSettings()'><i class='icon-cog'></i></button>
		</div>
	</div>
	<hr />
	<div template='game-settings.html'></div>
	
	<div ng-show='settings.debug'>
		<pre>{{ game | json }}</pre>
		<pre>{{ settings | json }}</pre>	
	</div>
</div>